<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074133312441-u9lj57eemuekshib3v6oh7uafo7hm1b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074133312441-u9lj57eemuekshib3v6oh7uafo7hm1b4</string>
	<key>API_KEY</key>
	<string>AIzaSyDjRvguA9XCr15Dh21Uw5DIyZpY5-xvttY</string>
	<key>GCM_SENDER_ID</key>
	<string>1074133312441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrezkys.presence</string>
	<key>PROJECT_ID</key>
	<string>presence-82a2f</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-82a2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074133312441:ios:1f2add810e2231bef54c68</string>
</dict>
</plist>